*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box;
  font-family: poppins;
  background: linear-gradient(49.04deg, #F2F2F2 38.83%, #E8E8E8 151.28%);
  overflow: hidden; }

.header {
  height: 110px;
  width: 100%;
  background-color: #f9f9f9;
  position: relative; }

.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }

.header-item-link {
  text-decoration: none;
  color: #89A7AE;
  font-size: 1.2rem;
  transition: all .05s;
  backface-visibility: hidden;
  font-weight: 400; }
  .header-item-link:hover, .header-item-link:active {
    color: #0367A6;
    border-radius: 2px;
    border-top: 0.15rem solid #0367A6;
    border-bottom: 0.15rem solid #0367A6; }
  .header-item-link:not(:first-child) {
    margin-left: 4rem; }

.header-items-list-ul {
  list-style: none; }

.logo {
  display: inline-block;
  position: absolute;
  top: 20.31%;
  left: 7.29%; }

.world-EN {
  display: inline-block;
  position: absolute;
  top: 30.31%;
  left: 88.12%; }

.bg-map {
  position: absolute;
  left: -4.01%;
  right: -0.89%;
  top: -20%;
  z-index: -1; }

.main-section {
  display: flex;
  justify-content: center;
  margin: 0 9rem;
  margin-top: 5rem; }

.section-1 {
  flex: 5;
  width: 649px;
  height: 816px;
  margin-right: 1.2rem; }

.section-2 {
  flex: 3;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  height: 816px;
  width: 398px;
  background-color: transparent; }

.section-3 {
  flex: 4;
  margin-left: 1.2rem;
  height: 816px;
  width: 464px;
  background-color: #89A7AE; }

.section-line {
  border-left: 1px solid rgba(3, 103, 166, 0.5);
  height: 172vh; }

.heading-main {
  font-size: 2rem;
  font-weight: 500;
  color: #070a36; }

.heading-span {
  color: #0367A6; }

.location-input-icon {
  position: relative; }

.button-and-icon {
  position: absolute;
  z-index: 50;
  right: 0; }

.input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  margin-top: 1rem;
  display: block;
  transition: all 0.3s;
  box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.1); }
  .input::placeholder {
    font-size: 1rem;
    color: #89A7AE;
    font-weight: 350; }
  .input:focus:invalid {
    border-bottom: 3px solid red; }
  .input:focus {
    outline: none;
    box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1); }

.main-input-label {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  margin-top: 1rem;
  padding: 0 3rem;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.3rem 3rem; }

.main-input-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 4px;
  left: 6px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: .2rem; }

/* On mouse-over, add a grey background color */
.main-input-label:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.main-input-label input:checked ~ .checkmark {
  background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.main-input-label input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.main-input-label .checkmark:after {
  left: 9px;
  top: 3px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.btn {
  background-color: #05C7F2;
  border-radius: 1.3rem;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-size: 21px;
  padding: 1.24rem 5.7rem;
  text-decoration: none;
  border: none; }

.btn:hover {
  background-color: #04b2d9; }

.btn-main {
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.icons {
  height: 5.2rem;
  width: 14rem;
  background-color: #FAFEFF;
  position: absolute;
  z-index: 60;
  border-bottom-left-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem; }

.icon-item-1 {
  height: 3.5rem;
  width: 3.5rem;
  background: linear-gradient(to top right, #05C7F2, #0689BC);
  z-index: 70;
  border-radius: 1rem;
  margin-top: .7rem;
  margin-left: .7rem;
  display: inline-block;
  position: relative;
  cursor: pointer; }

.icon-item-2 {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background: #FAFEFF;
  z-index: 70;
  box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-top: .7rem;
  margin-left: .8rem;
  position: relative;
  cursor: pointer; }

.icon-item-3 {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background: #FAFEFF;
  z-index: 70;
  box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-top: .7rem;
  margin-left: .8rem;
  position: relative;
  cursor: pointer; }

.icon-svg-1 {
  position: absolute;
  z-index: 70;
  top: 0;
  left: 0;
  transform: translate(57%, 35%); }

.icon-svg-2 {
  position: absolute;
  z-index: 70;
  top: 0;
  left: 0;
  transform: translate(34%, 40%); }

.icon-svg-3 {
  position: absolute;
  z-index: 70;
  top: 0;
  left: 0;
  transform: translate(43%, 29%); }

.section-1-2 {
  margin-top: 4rem; }

.section-1-2-heading {
  font-weight: 500; }

.section-1-2-input {
  position: relative; }

.section-1-2-btn {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0; }

.section-1-3-input {
  position: relative;
  margin-top: 2rem; }

.section-1-3-btn {
  position: absolute;
  padding: 1.24rem 5.7rem;
  z-index: 50;
  top: 0;
  right: 0; }

.section-1-4 {
  margin-top: 1.5rem; }

.section-1-4-value-1 {
  -webkit-width: 11.3rem;
  display: inline-block;
  position: relative;
  height: 6rem;
  width: 11.3rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1); }

.section-1-4-value-2 {
  position: relative;
  border-radius: 2rem;
  display: inline-block;
  height: 6rem;
  width: 11.3rem;
  margin-left: 1.6rem;
  background-color: #fff;
  box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1); }

.section-1-4-value-3 {
  position: relative;
  border-radius: 2rem;
  display: inline-block;
  height: 6rem;
  margin-left: 1.6rem;
  width: 11.3rem;
  background-color: #fff;
  box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1); }

.section-1-4-icon {
  position: absolute;
  z-index: 70;
  top: 2rem;
  left: 1.5rem; }

.section-1-4-time {
  font-size: 1.2rem;
  color: #000;
  position: absolute;
  z-index: 71;
  top: 0;
  left: 0;
  transform: translate(49%, -5%); }

.section-1-4-visible {
  position: absolute;
  z-index: 72;
  top: 0;
  right: 0px;
  transform: translate(457%, 50%); }

.section-1-4-distance {
  font-size: 1.2rem;
  color: #000;
  position: absolute;
  z-index: 71;
  top: 0;
  left: 0;
  transform: translate(58%, -8%);
  -moz-transform: translate(50%, -8%);
  display: block ruby; }

.section-1-5 {
  margin-top: 2.5rem; }

.section-1-5-input {
  position: relative; }

.section-1-5-btn {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 2.5rem; }

.input-section-1-5 {
  width: 80%; }

.section-1-6 {
  margin-top: 2rem;
  background: linear-gradient(to bottom right, #05C7F2, #0367A6);
  height: 6rem;
  width: 100%;
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.section-1-6-order {
  font-size: 1.6rem;
  color: #f9f9f9; }

.section-1-6-price {
  color: #070A36;
  font-size: 1.2rem; }

.section-2-heading-main {
  margin-bottom: 1rem; }

.route-1 {
  height: 4.5rem;
  width: 336px;
  border-radius: 1.5rem;
  background-color: #f9f9f9;
  box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1);
  position: relative; }

.location-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  transform: translate(46%, 62%); }

.route-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
  font-size: .8rem;
  transform: translate(11%, 3%);
  height: 4rem;
  width: 18rem; }

.edit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  transform: translate(822%, 3%); }

.bar-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transform: translate(9500%, -19%); }

.rotate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translate(960%, 7%); }

.bar-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  transform: translate(11650%, -19%); }

.move {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  transform: translate(1913%, -5%); }

.bar-3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  transform: translate(13750%, -19%); }

.cancel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  transform: translate(1810%, 3%); }

.route-bar {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(154px, 71px); }

.route-2 {
  height: 4.5rem;
  width: 336px;
  border-radius: 1.5rem;
  background-color: #f9f9f9;
  box-shadow: 0rem 0.8rem 2rem rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 1.2rem; }

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: translate(-32%, -41%);
  background: linear-gradient(to top right, #05C7F2, #0367A6); }

.icon-circle {
  transform: translate(22%, 19%); }

.section-2-options {
  display: flex;
  margin-top: 3rem; }

.option-1 {
  height: 6rem;
  width: 9rem;
  background-color: transparent; }

.option-2 {
  height: 6rem;
  width: 14rem;
  background-color: #05C7f2;
  margin-left: 2rem; }

.options-icon {
  position: relative; }

.options-icon-1 {
  height: 3.5rem;
  width: 3.5rem;
  background: #fff;
  z-index: 70;
  border-radius: 1rem;
  margin-top: .7rem;
  margin-left: .7rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.4s; }
  .options-icon-1:hover {
    background: linear-gradient(to top right, #05C7F2, #0689BC); }

.vector-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  transform: translate(15px, 9px); }

.option-icon-svg {
  fill: #05C7F2; }

.options-icon-1:hover .option-icon-svg {
  background: linear-gradient(to top right, #05C7F2, #0689BC);
  fill: #fff; }

.vector-2 {
  transform: translate(10px, 9px); }
